#container {
    width: 100%;
    height: 100vh;
    background-color: #666666;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
    perspective: 400px;
}


.postit {
    font-family: 'Indie Flower', cursive;
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px 0.5px;
    transition: transform 0.5s ease-in;
    animation: slap-in 1s ease-out;
}

@keyframes pop-in {
    0% {opacity: 0; transform: translateZ(500px);}
    50% {opacity: 0; transform: translateZ(100px);}
    100% {opacity: 1; transform: translateZ(0px);}
}



.postit:hover{
    transform: scale(1.3);
    z-index: 1;
    cursor: pointer;
}

.postit-title {
    font-size: 3.2rem;
    font-weight: bolder;
}

.postit-content {
    font-size: 1.6rem;
    position: relative;
}

.yellow {
    background-image: linear-gradient(#fefece 0%, #fefece 75%, #bdbda3 90%, #bdbda3 100%);
    transform: rotateZ(-4deg)
}

.green {
    background-image: linear-gradient(#ccfece 0%, #ccfece 75%, #a1b8a1 90%, #a1b8a1 100%);
    transform: rotateZ(4deg)
}

.purple {
    background-image: linear-gradient(#cacafa 0%, #cacafa 75%, #8b8c9b 90%, #8b8c9b 100%);
    transform: rotateZ(-6deg);
}


